pandas==2.3.3
numpy==2.4.3
scikit-learn==1.8.0
scipy==1.17.1
joblib==1.5.3
nltk==3.9.3
matplotlib==3.10.8
seaborn==0.13.2
pyyaml==6.0.3
fastapi==0.135.2
uvicorn==0.42.0
pydantic==2.12.5
python-dotenv==1.2.2
streamlit==1.55.0
evidently==0.7.21
jupyter==1.1.1
ipykernel==7.2.0